$top-bar-padding: 0.5rem;
$top-bar-inside-height: 3rem;

$top-bar-height: $top-bar-inside-height + 2 * $top-bar-padding;

.container {
    display: flex;
    flex-flow: column;
    align-content: stretch;

    width: 100lvw;
    height: 100lvh;
}

.top-bar {
    flex: 0 0 $top-bar-height;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    padding: $top-bar-padding 2rem;

    @media (hover: hover) {
        & > button:not(:hover) {
            background: transparent;
        }
    }
}

.scroll-bottom-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    &:not(:hover) {
        background: color-mix(in srgb, var(--bg) 80%, transparent);

        @media (hover: hover) {
            background: transparent;
        }
    }
}

.content {
    flex: 1 1 auto;

    max-height: calc(100% - $top-bar-height);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h1 {
        font: var(--h1);
    }

    > * {
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        max-height: 100%;
        scroll-behavior: smooth;
        width: 100%;
    }

    > * > * {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        width: min(700px, 90%);
        margin-inline: auto;
        margin-block: 2rem;
    }
}

.color-samples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(200px, 100%/3), 1fr));

    > * {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        align-items: center;
    }
}
