:root {
    font-family: var(--ff);
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: 'MONO' 0.65;

    background-color: var(--bg-dark);

    min-width: 320px;
    min-height: 320px;
}

input,
button {
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    color: var(--text);
    font: var(--p);
    padding: 0.5rem 1rem;
    outline: none;

    &:hover {
        background: var(--gradient-hover);
    }
}

input {
    border: 1px solid var(--border-muted);

    &:focus-within {
        border-color: var(--border);
    }

    &:user-invalid {
        border-color: var(--danger);
    }
}

button {
    cursor: pointer;
    border: 0;
}

#root {
    height: 100lvh;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
