@property --default-color {
    syntax: '<color>';
    initial-value: oklch(0.76 0 44);
    inherits: false;
}

@property --custom-color {
    syntax: '<color>';
    initial-value: unset;
    inherits: false;
}

:root {
    --base: var(--custom-color, var(--default-color));

    $hue-secondary: calc(h + 180);
    $chroma-bg: calc(0.5 * c);
    $chroma-text: min(c, 0.1);
    $chroma-action: max(c, 0.1);
    $chroma-alert: max(c, 0.05);

    /* bg */
    --bg-dark: light-dark(oklch(from var(--base) 0.92 #{$chroma-bg} h), oklch(from var(--base) 0.1 #{$chroma-bg} h));
    --bg: light-dark(oklch(from var(--base) 0.96 #{$chroma-bg} h), oklch(from var(--base) 0.15 #{$chroma-bg} h));
    --bg-light: light-dark(oklch(from var(--base) 1 #{$chroma-bg} h), oklch(from var(--base) 0.2 #{$chroma-bg} h));
    --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    /* text */
    --text: light-dark(oklch(from var(--base) 0.15 c h), oklch(from var(--base) 0.96 #{$chroma-text} h));
    --text-muted: light-dark(oklch(from var(--base) 0.4 c h), oklch(from var(--base) 0.76 #{$chroma-text} h));
    /* border */
    --highlight: light-dark(oklch(from var(--base) 1 c h), oklch(from var(--base) 0.5 c h));
    --border: light-dark(oklch(from var(--base) 0.6 c h), oklch(from var(--base) 0.4 c h));
    --border-muted: light-dark(oklch(from var(--base) 0.7 c h), oklch(from var(--base) 0.3 c h));
    --border-card: solid 1px light-dark(var(--bg), var(--border-muted));
    /* action */
    --primary: light-dark(
        oklch(from var(--base) 0.4 #{$chroma-action} h),
        oklch(from var(--base) 0.76 #{$chroma-action} h)
    );
    --secondary: light-dark(
        oklch(from var(--base) 0.4 #{$chroma-action} #{$hue-secondary}),
        oklch(from var(--base) 0.76 #{$chroma-action} #{$hue-secondary})
    );
    /* alert */
    --danger: light-dark(
        oklch(from var(--base) 0.5 #{$chroma-alert} 30),
        oklch(from var(--base) 0.7 #{$chroma-alert} 30)
    );
    --warning: light-dark(
        oklch(from var(--base) 0.5 #{$chroma-alert} 100),
        oklch(from var(--base) 0.7 #{$chroma-alert} 100)
    );
    --success: light-dark(
        oklch(from var(--base) 0.5 #{$chroma-alert} 160),
        oklch(from var(--base) 0.7 #{$chroma-alert} 160)
    );
    --info: light-dark(
        oklch(from var(--base) 0.5 #{$chroma-alert} 260),
        oklch(from var(--base) 0.7 #{$chroma-alert} 260)
    );
    /* shadows */
    --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
    /* type */
    --ff: 'Sono', sans-serif;
    --h1: 700 1.5rem/1.2em var(--ff);
    --h2: 700 1.25rem/1.2em var(--ff);
    --h3: 700 1.125rem/1.4em var(--ff);
    --h4: 700 1rem/1.6em var(--ff);
    --p: 400 1rem/1.6em var(--ff);
    --small: 400 0.75rem/1.8em var(--ff);

    /* constants */
    --border-radius-small: 4px;
    --border-radius: 8px;
}
