$column-gap: 0.5rem;

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.two-columns {
    display: flex;
    align-items: center;
    gap: $column-gap;

    :first-child {
        flex: 1;
    }

    &.same-width > * {
        flex: 1 0 calc(50% - $column-gap / 2);
    }
}
