.login-form {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.button-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
    button {
        flex: 1 1 auto;
        &:global(.icon-button) {
            flex: 0 0 auto;
        }
    }
}

