@use '/src/styles/textarea_grow' as tg;

.daily-note {
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    align-items: stretch;

    &.readonly :global {
        @include tg.textarea-grow('.note-grow') {
            background-color: transparent;
            min-height: unset;
        }
    }

    :global {
        @include tg.textarea-grow('.note-grow') {
            border: none;
            padding: 0.5rem;
            font: inherit;
            background-color: var(--bg);
            min-height: 20lvh;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
        }

        .date-label {
            font-weight: bold;
            font-size: 1.25rem;
        }
    }
}
