.login-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;

    width: 100lvw;
    height: 100lvh;

    container-type: inline-size;

    h1 {
        text-align: center;
    }
}
